@import "./utils/variable";
@import "./utils/mixins";
@import "./utils/map";

h1{
    color: rgb(250, 0, 0);
    @include tablette-only{
        color: green;
    @include desktop-only{
        color: violet;
    }
    }
}