header{
    @include fastflexbox;
    margin: -10px;
    color: rgb(34, 34, 34);
}
h3{
    gap: 15px;
    @include fastflexbox;
    color: rgb(77, 73, 73);
    background-color: rgb(234, 234, 234);
    margin: 0;
    padding: 15px;
    font-size: 16px;
    font-weight: 900;
    box-shadow: inset rgba(0, 0, 0, 0.275) 0px 10px 13px -10px;
    @include tablette-only{
        color: green;
    @include desktop-only{
        color: violet;
    }
    }
}
.bloc1{
    @include fastflexbox;
    flex-wrap: wrap;
    background-color: rgb(251, 246, 246);
    padding-bottom: 50px;
    h2{
        font-weight: 800;
        width: 70%;
        text-align: center;
        margin: 10px;
    }
    p{
        width: 100%;
        text-align: center;
        font-weight: 300;
        margin: 10px;
        padding-bottom: 15px;
    }
}
.bloc2 h2{
    padding: 15px 0 8px 20px;
    @include desktop-only{
    @include fastflexbox;
    padding-right: 40px
    }
}
.bloc2__btn
{
    @include fastgrid;
    grid-template-columns: 92%;
    gap: 25px;
    @include desktop-only{
        display: flex;
    }

    .bloc2__btn__1{
        @include boxshadowbutton;
        @include fastflexbox;
        background-color: rgb(251, 246, 246);
        border-radius: 17px;
        height: 65px;
        position: relative;
        @include desktop-only{
            width: 300px;
        }
    
        &:hover{
            cursor: pointer;
            background-color: lighten($primary-color, 36%);
            i:before{
                color: $primary-color;
            }
        }
        .fa-solid{
            padding-right: 30px;
            color: grey;

        }
        .number{
        background-color: $primary-color;
        position: absolute;
        bottom: 20px;
        left: -10px;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    p{
        font-weight: 500;
        margin-bottom: 23px;
        padding-top: 6px;
    }
}

.bloc3{
    background-color: rgb(251, 246, 246);   
         
    .bloc3__btn{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    h2{
        padding: 50px 0 8px 28px;
    }
    .bloc3__btn__1
    {
        background-color: rgb(255, 255, 255);
        width: 92%;
        @include boxshadowbutton;
        border-radius: 15px;
        flex-wrap: wrap;
       
        h4{
           margin: 7px 0 0 10px;
           font-size: 15px;
           font-weight: 600;
        }
        p{
            margin: 5px 0 12px 10px;
            font-weight: 300;
            font-size: 14px;
        }
    }
}







    img{
        width: 100%;
        height: 130px;
        border-radius: 15px 15px 0 0;
    }
