.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    opacity: 0.88;
    animation: loader;
    animation-delay: 1275ms;
    animation-fill-mode: forwards;
}
.load 
{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.container
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.bar 
{
        background-color: $primary-color;
        height: 100%;
        width: 40px;
        animation: bars 550ms backwards infinite ease-in-out alternate;
}
@keyframes loader{
    100% {
        transform: translateX(-9999px);
    }
    0% {
        transform: translateX(0);
    }
}









@keyframes bars
{
    0% {
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1.0);
    }
}
.l1 {
    animation-delay: 100ms;
}
.l2 {
    animation-delay: 400ms;
}
.l3 {
    animation-delay: 600ms;
}
.l4 {
    animation-delay: 800ms;
}
.l5 {
    animation-delay: 1000ms;
}