@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoint, mobile)){
    @content;
    }
}
@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoint, tablette)){
    @content;
    }
}
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoint, desktop)){
    @content;
    }
}
@mixin fastflexbox {
    display: flex;
    justify-content: center;
}
@mixin boxshadowbutton {
    box-shadow:rgba(0, 0, 0, 0.200) 0px 12px 13px -9px;
}
@mixin fastgrid {
    display: grid;
    justify-content: center;
}